.libs/
config.log
config.guess
QuantumXML-1.0.pc
config.sub
config.status
Makefile.in
Makefile
autom4te.cache
.directory
*.deps/
*.dirstamp
configure
depcomp
install-sh
libtool
ltmain.sh
aclocal.m4
missing
